#nav-bar-main-desktop-view{
    display: flex; 
 }
 #nav-bar-main-mobile-view{
     display: none;
 }

 #nav-bar-main{
     margin: 0;
     padding: 0;
 }



 @media screen and (max-width: 1092px){
    #nav-bar-main-desktop-view{
        display: none; 
     }
     #nav-bar-main-mobile-view{
         display: flex;
     }
 }

